@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,300;0,500;0,600;1,200&display=swap");

/*LOGIN CSS STYLE START*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}
.make-it-drop {
  display: flex;
  justify-content: center;
}
.main-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.wrapper {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  display: flex;
  justify-content: center;
}
.wrapper h1 {
  font-size: 36px;
  text-align: center;
}
.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
  color: #fff;
}
.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}
.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px 0 15px;
}
.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.register-link p a:hover {
  text-decoration: underline;
}
/*LOGIN CSS STYLE END*/

/*NAVBAR CSS START*/
.body {
  background: transparent;
}
.header {
  width: 80%;
  height: 70px;
  background: #fefefe;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-radius: 0 0 10px 10px;
  margin: 0 auto;
}
.logo {
  width: 120px;
  margin-top: 8px;
}
nav .logo {
  display: none;
}
nav ul {
  display: flex;
}
nav ul li a {
  color: #212526;
  display: block;
  margin: 0 2px;
  font-weight: 600;
  padding: 8px 18px;
  transition: 0.2s;
  border-radius: 30px;
}
nav ul li a:hover {
  background: #f6f4ff;
  color: black;
  border: 1px solid black;
}
nav ul li a.active {
  background: #675cff;
  color: #fff;
}
.hamburger {
  display: none;
  height: fit-content;
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 5px;
  transition: 0.2s;
}
.hamburger:hover {
  background: #f6f4ff;
}
.hamburger div {
  width: 30px;
  height: 2px;
  margin: 6px 0;
  background: #212526;
}
@media only screen and (max-width: 1100px) {
  .header {
    width: 90%;
    padding: 0 20px;
  }
  nav {
    position: absolute;
    left: -300px;
    top: 0;
    z-index: 999;
    width: 280px;
    height: 100vh;
    background-color: #fefefe;
    transition: 0.2s;
    box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.5);
  }
  #nav_check:checked ~ nav {
    left: 0;
  }
  nav .logo {
    display: block;
    height: 70px;
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  nav ul li a {
    margin-bottom: 5px;
    padding: 10px 15px;
    border-radius: 5px;
  }
  nav ul {
    display: block;
    padding: 0 20px;
    margin-top: 30px;
  }
  .hamburger {
    display: block;
  }
}
/*NAVBAR CSS END*/

/*HOME CSS START*/
.home-main {
  display: flex;
  justify-content: center;
  height: 90vh;
}
.home-wrapper {
  width: 80%;
  height: 100px;
  background: #fefefe;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-top: 55px;
  height: 80%;
}
.words-wrapper {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 50%;
  padding: 10px;
}
.title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}
.img-wrapper {
  width: 350px;
  height: 450px;
  position: relative;
}
.name-home {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
}
.remark-home {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.sub-title-wrapper {
  font-weight: 20px;
  margin-bottom: 20px;
  font-style: italic;
  font-weight: bolder;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 35px;
  color: black;
  border-radius: 40px;
  display: inline-block;
  white-space: nowrap;
  border: none;
  background: #106d70;
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn:hover {
  background: #f6f4ff;
  color: black;
  border: 1px solid black;
}
/*HOME CSS END*/

/*ABOUT CSS START*/
.about-main {
  display: flex;
  justify-content: center;
  height: 90vh;
}
.about-wrapper {
  width: 80%;
  height: 100px;
  background: #fefefe;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-top: 55px;
  height: 80%;
}
.content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
  width: 90%;
  padding: 0 10px;
}
.content-control {
  width: 25%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  box-shadow: 60px;
  border: 1px solid bisque;
}
.img-control {
  width: 70%;
  border-radius: 90px;
  margin: 20px;
}
.AName {
  font-weight: bolder;
  font-style: normal;
  font-size: larger;
}
.ATitle {
  margin: 10px;
  font-weight: bold;
  font-size: small;
}
.AQoute {
  padding: 0 10px;
  display: flex;
  justify-content: start;
  font-style: normal;
  font-style: italic;
  font-weight: 600;
}
/*ABOUT CSS END  j*/
